<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Verena Prezioso - #</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
          integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">

    <link rel="stylesheet" href="public/assets/css/core.css">
</head>
<body>

<header id="header-main">
    <h1 id="header-title"><a href="../../../index.html">Verena Prezioso</a></h1>
    <nav id="nav-main">
        <ul>
            <li><a href="/public/pages/aktuell">Aktuell</a></li>
            <li>
                <a href="/public/pages/galerie">Galerie</a>
                <ul>
                    <li><a href="/public/pages/galerie/collagen">Collagen</a></li>
                    <li><a href="/public/pages/galerie/absprengtechnik">Absprengtechnik</a></li>
                    <li><a href="/public/pages/galerie/mischtechnik">Mischtechnik</a></li>
                </ul>
            </li>
            <li><a href="/public/pages/biografie">Biografie</a></li>
        </ul>
        <a id="button-toTop" href="#"><i class="fas fa-chevron-circle-up fa-3x"></i></a>
    </nav>
</header>
<main>

</main>
<footer id="footer">
    <address id="contact">
        <p class="name">Contact Me:</p>
        <a class="email" href="mailto:verena_prezioso@yahoo.de" target="_blank">verena_prezioso[at]yahoo.de</a>
        <a class="phone" href="tel:+41449204915">+41 44 920 49 15</a>
    </address>
    <div id="copyright">
        <p>&copy;opyright</p>
        <small>crafted by <a href="https://prezioso.ch" target="_blank" rel="noopener">Tobia Prezioso</a></small>
    </div>
</footer>

</body>
</html>
