<head>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
          integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/assets/css/core.css">

</head>
<body>

<div class="slider" data-active-slide="1">
    <div class="slider-inner">
        <div class="slider-item">
            <img class="img-responsive" src="https://source.unsplash.com/random/x500?art"
                 alt="Random image in a slider">
            <div class="caption">slider 1</div>
        </div>
        <div class="slider-item">
            <img class="img-responsive" src="https://source.unsplash.com/random/x500?art"
                 alt="Random image in a slider">
            <div class="caption">slider 2</div>
        </div>
        <div class="slider-item">
            <img class="img-responsive" src="https://source.unsplash.com/random/x500?art"
                 alt="Random image in a slider">
            <div class="caption">slider 3</div>
        </div>
    </div>
    <a class="slider-control prev" href="" role="button">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="slider-control next" href="" role="button">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<div class="slider" data-active-slide="1">
    <div class="slider-inner">
        <div class="slider-item">
            <img class="img-responsive" src="https://source.unsplash.com/random/x500?art"
                 alt="Random image in a slider">
            <div class="caption">slider 1</div>
        </div>
        <div class="slider-item">
            <img class="img-responsive" src="https://source.unsplash.com/random/x500?art"
                 alt="Random image in a slider">
            <div class="caption">slider 2</div>
        </div>
        <div class="slider-item">
            <img class="img-responsive" src="https://source.unsplash.com/random/x500?art"
                 alt="Random image in a slider">
            <div class="caption">slider 3</div>
        </div>
    </div>
    <a class="slider-control prev" href="" role="button">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="slider-control next" href="" role="button">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>


<script src="../js/slider.js"></script>
</body>
