<main>
    <!--  Page Title  -->
    <h2></h2>

    <div class="product">
        <img class="product-image" src="../../public/assets/images/galerie">
        <table class="product-data">
            <tr>
                <td>Name:</td>
                <td>Germanus elevatuss ducunt ad mineralis.</td>
            </tr>
            <tr>
                <td>Beschreibung:</td>
                <td>Sunt adelphises convertam alter, grandis equisoes.</td>
            </tr>
            <tr>
                <td>Jahr:</td>
                <td>2020</td>
            </tr>
            <tr>
                <td>Preis:</td>
                <td><a href="mailto:verena_prezioso@yahoo.de?subject=Preisanfrage&body=Ich interessiere mich für:">Auf Anfrage</a></td>
                <td><a href="mailto:verena_prezioso@yahoo.de?subject=Kaufanfrage&body=Ich interessiere mich für das Gemälde xxx zum Preis von 10.00 CHF">10.00 CHF</a></td>
            </tr>
        </table>

    </div>
</main>

