<main>
    <!--  Page Title  -->
    <h2></h2>

    <ul class="paintings-list">

        <li class="painting-wrapper">
            <img class="painting-image" src="https://source.unsplash.com/random/x500?art">
            <table class="painting-details">
                <tbody>
                <tr class="painting-name">
                    <td>Name:</td>
                    <td><h3>Germanus elevatuss ducunt ad mineralis.</h3></td>
                </tr>

                <tr class="painting-description">
                    <td>Beschreibung:</td>
                    <td>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        nonumy eirmod tempor invidunt ut
                        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores
                        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut
                        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores
                        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut
                        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores
                        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </td>
                </tr>

                <tr class="painting-year">
                    <td>Jahr:</td>
                    <td>2020</td>
                </tr>

                <tr class="painting-price">
                    <td>Preis:</td>
                    <td><a
                        href="mailto:verena_prezioso@yahoo.de?subject=Preisanfrage&body=Ich interessiere mich für:"><strong>Auf
                        Anfrage</strong></a>
                    </td>
                    <td>
                        <a href="mailto:verena_prezioso@yahoo.de?subject=Kaufanfrage&body=Ich interessiere mich für das Gemälde xxx zum Preis von $$.00 CHF"><strong>10.00CHF</strong></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </li>

    </ul>
</main>

