<main>
    <!--  Page Title  -->
    <h2></h2>

    <ul class="paintings-list">

        <li class="painting-wrapper">
            <img class="painting-img" src="https://source.unsplash.com/random/x500?art">
            <div class="painting-details">
                <div class="row painting-name">
                    <p>Name:</p>
                    <p>
                    <h3>Germanus elevatuss ducunt ad mineralis.</h3></p>
                </div>
                <div class="row painting-description">
                    <p>Beschreibung:</p>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        nonumy eirmod tempor invidunt ut
                        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores
                        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut
                        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores
                        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut
                        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores
                        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                        amet.</p>
                </div>
                <div class="row painting-year">
                    <p>Jahr:</p>
                    <p>2020</p>
                </div>
                <div class="row painting-price">
                    <p>Preis:</p>
                    <p><a href="mailto:verena_prezioso@yahoo.de?subject=Preisanfrage&body=Ich interessiere mich für:"><strong>Auf Anfrage</strong></a></p>
                </div>
            </div>
        </li>

    </ul>
</main>

