@import "variables";

body {
    color: @color-dark;
}

// Header and Content - start
#header-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: @bg-pink;
    min-height: 10vh;
    padding: 1rem;
    flex-wrap: wrap;
}

#header-main-title {
    position: relative;
    left: 1rem;
}

#nav-main {
    width: 50%;

    > ul {
        display: flex;
        justify-content: space-around;
        color: @color-light;

        > li {
            background: @bg-dark;
            margin: 0.5rem;

            &:hover, &.active {
                background: @bg-dark-lighten;
            }

            > a {
                display: block;
                padding: 0.5rem 1rem;
            }
        }
    }
}

.dropdown {
    position: relative;

    .dropdown-menu {
        position: absolute;
        display: none;
        z-index: 1000;
        flex-direction: column;
        top: 100%;
        left: 0;
        background: @bg-dark;

        > li {
            &:hover, &.active {
                background: @bg-dark-lighten
            }

            > a {
                display: block;
                padding: 0.5rem 1rem;
            }
        }
    }

    &:hover {

        .dropdown-menu {
            display: flex;
        }
    }
}
// Header and Content - end

// Main and Content - start
main {
    background: @bg-gray;
    min-height: 80vh;
}
// Main and Content - end

// Footer and Content - start
#footer-main {
    min-height: 10vh;
    background: @bg-dark;
    color: @color-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#contact, #copyright {
    display: flex;
    flex-direction: column;
    position: relative;
}

#contact {
    left: 1rem;

    .name {
        margin-bottom: 0.5rem;
    }
}

#copyright {
    right: 1rem;
    align-items: center;
}
// Footer and Content - end